src/main/mule/helloworld.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="2417be11-9650-45c9-b028-e93fd3dae058" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="helloworldFlow" doc:id="7ad94310-8ead-4fd6-bce0-48f69c6fe91b" >
		<http:listener doc:name="Listener" doc:id="ddca2813-70da-4764-a334-b54ae9dc2ab0" config-ref="HTTP_Listener_config" path="/hello"/>
		<set-payload value='#["Hello World "]' doc:name="Set Payload" doc:id="87141159-80de-47fe-a8c7-91cb29e431b9" />
		<logger level="INFO" doc:name="Logger" doc:id="74cfc11b-757f-4478-bafc-a612c9f2c87a" message="#[payload]"/>
	</flow>
</mule>
